@import "tailwindcss";

@theme {
  --color-sage: #84A59D;
  --color-navy: #003049;
  --color-ivory: #FFFFF0;
  
  /* Additional neutral colors based on ivory */
  --color-ivory-100: #F6F6EC;
  --color-ivory-200: #EEEEDD;
}

body {
  background-color: var(--color-ivory);
  color: var(--color-navy);
  font-family: 'Inter', -apple-system, sans-serif;
}
